/* Services Section */
.services-section {
  background-color: #f9f9f9;
  padding: 80px 0;
  scroll-margin-top: 120px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.service-card {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.service-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.service-content {
  padding: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.service-title {
  font-size: 1.5rem;
  color: #163962;
  margin-bottom: 10px; /* Reduced from 15px to reduce space */
  font-weight: 700;
  height: 50px;
}

.service-description1 {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  flex: 1;
}

.button-container {
  text-align: center;
  margin-top: auto; /* Push the button to the bottom */
}

.learn-more-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  color: #194169;
  text-decoration: none;
  border: 2px solid #194169;
  border-radius: 30px;
  transition: background 0.3s ease, color 0.3s ease;
}

.learn-more-btn:hover {
  background: #194169;
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {


  .services-grid {
      grid-template-columns: 1fr;
  }

  .service-content {
      padding: 20px; /* Adjust padding for small devices */
  }

  .service-title, .service-description {
      text-align: left; /* Ensure text aligns to the left on small devices */
  }
}