.web-scroll-card {
    flex: 0 0 420px; /* Increased width for desktop */
    background: white;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid #1b3e9e; /* Add a 1px solid border */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 16px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, background 0.3s;
    display: flex;
    flex-direction: column;
  }
  
  .web-scroll-card:hover {
    transform: translateY(-10px); /* Move the card up by 10px */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Optional: Add a stronger shadow on hover */
  }
  
  .web-scroll-card.ssc-active {
    background: #e3f2fd;
    transform: translateY(-10px);
  }